@model Projet
@{ ViewData["Title"] = "Projet - " + Model.Nom; }

<h1>@Model.Nom</h1>
<hr>
@if(Model.Contenu != null)
{
    <p>@Model.Contenu</p>
}



<div class="row gx-5">
@foreach (var item in Model.Listes)
{
    <div class="col-3">
        <div class="col p-4 bg-secondary bg-opacity-10 rounded">
            <h2>"ID : " @item.Id - @item.Nom</h2>
            @foreach (var carte in item.Cartes)
            {
                <div class="px-2 mb-2 bg-white bg-opacity-75 rounded">
                    <h3>@carte.Titre</h3>
                    @if(carte.Contenu != null)
                    {
                        <p>@carte.Contenu</p>
                    }

                </div>
            }
            <a href="/Carte/Add/@item.Id" type="submit" class="btn btn-primary">Ajouter une carte</a>
        </div>
    </div>
}
<div class="col-3">
    <a href="/Liste/Add" class="btn btn-primary">Ajouter une liste</a>
</div>

</div>